---
interface Props {
  title:string;
}

const {title} = Astro.props

import { ViewTransitions } from "astro:transitions";

import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../fuentes/Rick_Morty/fuentes.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=REM:wght@600&family=Staatliches&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
    <link rel="icon" href="/Icono.ico">
  </head>

  <body>
    <!-- Header -->
    <Header/>

    <!-- Contenido -->
    <slot />

    <!-- Footer -->
    <Footer />

  </body>
  <ViewTransitions />
</html>

<style>
  :root {
    --vrd_drk: #51e611;
    --vrd_clr: #7cf448;
    --bg_hr: #101113;
    --bg_mn: #17181a;
    --letras: #d5dddf;
  }

  *{
    padding: 0%;
    margin: 0%;  
  }

  body, html {
    width: 100%;
    background-color: var(--bg_mn);
  }
</style>
