---
interface Props {
  name: string;
  show: boolean;
}
const { name, show } = Astro.props;

import BotonMore from "./boton.astro";
---

<section class="contenedor_principal">
  <p class="title">{name}s</p>
  <div class="contenedor_sections">
    <slot name="informacion_api" />
  </div>

  <div class="contenedor_boton">
    {show && <BotonMore name={name} />}
  </div>
</section>

<style>
  .contenedor_principal {
    padding: 20vh 0 0 0;
  }

  .contenedor_sections {
    width: 80%;
    color: var(--letras);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .contenedor_boton {
    margin: 5vh 0;
    text-align: center;
  }

  .title{
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10vh;
    color: var(--letras);
  }

</style>
