---
import BotonMore from "./boton.astro";

interface Props {
  name: string;
  show: boolean;
}

/*
  name: nombre de la sección de donde fue llamado para colocarlo como título y hacerlo de forma automática

  show: booleano que determinara si aparecera el boton en las sección cuando se ha necesario
*/

const { name, show } = Astro.props;
---

<section class="contenedor_principal">
  <p class="title">{name}s</p>
  <div class="contenedor_sections">
    <slot name="informacion_api" />
  </div>

  <div class="contenedor_boton">
    {show && <BotonMore name={name} />}
  </div>
</section>

<style>
  .contenedor_principal {
    padding: 5vh 0 0 0;
  }

  .contenedor_sections {
    width: 80%;
    color: var(--letras);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .contenedor_boton {
    margin: 5vh 0;
    text-align: center;
  }

  .title {
    font-size: 50px;
    font-family: Get Schwifty;
    font-weight: 800;
    text-align: center;
    color: var(--vrd_clr);
    margin-bottom: 100px;
  }
</style>
